/* [仓耳渔阳体 W02] */
@font-face {
 font-family: 'TsangerYuYangT W02';
 font-weight: 400;
 font-display: swap;
 src: url(TsangerYuYangT-W02.woff2) format('woff2'),
      url(TsangerYuYangT-W02.woff) format('woff');
}